<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>

<body id="index">
  <nav>
  <h1>sync</h1>
  <p id="searchIcon">🔍</p>
  </nav>


  <section id="searchNav">
  <form id="search-form" action="/search" method="get">
  <label for="searching"></label>
    <input type="search" name="term" id="searching" placeholder="Search for a movie">
  </form>
  </section>


  <div class="parent">
    <a href="" class="div1"><img src="/images/white-disney.svg" alt="universal-studios"></a>
    <a href="" class="div2"><img src="/images/white-sony.svg" alt="universal-studios"></a>
    <a href="" class="div3"><img src="/images/white-paramount.svg" alt="universal-studios"></a>
    <a href="" class="div4"><img src="/images/white-pixar.svg" alt="universal-studios"></a>
    <a href="" class="div5"><img src="/images/white-universal.svg" alt="universal-studios"></a>
    <a href="" class="div6"><img src="/images/white-web.svg" alt="universal-studios"></a>
  </div>

  <% if (filmlijst && filmlijst.length > 0) { %>
    <h2>Nieuwe releases</h2>
  <ul>
    <% filmlijst.forEach(film => { %>
    <li>
      <!-- Weergeef alleen de titel en thumbnail van de film -->
      <% if (film.poster_path) { %>
      <a href="/detail/<%= film.id %>"><img src="https://image.tmdb.org/t/p/w500<%= film.poster_path %>" alt="<%= film.title %>"></a>
      <% } else { %>
      <p>No poster available</p>
      <% } %>
      <!-- <h3><%= film.title %></h3> -->
    </li>

    <% }); %>
  </ul>
  <% } else { %>
  <p>Er zijn geen films beschikbaar op dit moment.</p>
  <% } %>

  <% if (topRatedMovies && topRatedMovies.length > 0) { %>
  <h2>Top Rated films</h2>
  <ul>
    <% topRatedMovies.forEach(movie => { %>
    <li>
      <!-- Weergeef alleen de titel en thumbnail van de film -->
      <% if (movie.poster_path) { %>
      <img src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="<%= movie.title %>">
      <% } else { %>
      <p>No poster available</p>
      <% } %>
      <!-- <h3><%= movie.title %></h3> -->
    </li>
    <% }); %>
  </ul>
  <% } else { %>
  <p>Er zijn geen top-rated films beschikbaar op dit moment.</p>
  <% } %>



  <% if (searchResults && searchResults.length > 0) { %>
  <h2>Zoekresultaten:</h2>
  <ul>
    <% searchResults.forEach(result => { %>
    <li>
      <!-- Weergeef alleen de titel en thumbnail van de film -->
      <h3><%= result.title %></h3>
      <% if (result.poster_path) { %>
      <img src="https://image.tmdb.org/t/p/w500<%= result.poster_path %>" alt="<%= result.title %>">
      <% } else { %>
      <p>No poster available</p>
      <% } %>
    </li>
    <% }); %>
  </ul>
  <% } %>

  <script src="/js/script.js"></script>
</body>

</html>
