<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs') %>

<body>
    <header>
        <nav>
          <a href="/">&#8249;</a>
        <h1>sync</h1>
        <button type="button" id="searchIcon">🔍</button>
        </nav>
        <section class="searchNav">
          <form id="search-form" action="/results/search" method="get">
            <label for="searching"></label>
          <input type="search" name="term" id="searching" placeholder="Search for a movie">
        </form>
        <button type="button" id="cancelButton">&#x2715;</button>
        </section>
      </header>
      <main id="results">
    <% if (queryResults && queryResults.length> 0) { %>
        <h2>Results:</h2>
        <ul>
            <% queryResults.forEach(result=> { %>
                <li><a href="/detail/<%= result.id %>">

                        <div id="searchBox">
                            <% if (result.poster_path) { %>
                                <div class="image-container">
                                    <img src="https://image.tmdb.org/t/p/w500<%= result.poster_path %>"
                                        alt="<%= result.title %>">
                                </div>
                                <div id="movie-description">
                                    <h3>
                                        <%= result.title %>
                                    </h3>
                                    <p>
                                        <%= (new Date(result.release_date)).getFullYear() %>
                                    </p>
                                </div>
                        </div>
                        <% } else { %>
                            <p class="no-poster">
                                <%= result.title %>
                            </p>
                            <% } %>
                    </a>
                </li>
                <% }); %>
        </ul>
        <% } else { %>
            <p>Geen zoekresultaten gevonden.</p>
            <% } %>
        </main>
        <footer>
            <section>
              <p>Ali Ahmed 2024</p>
            </section>
      </footer>
      <script src="/js/script.js"></script>
</body>

</html>