<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>

  <body>
    <header id="sony-header">
      <nav>
        <img src="/images/white-sony.svg" alt="Sony-Logo">
      </nav>
    </header>
    <main id="companyStyling">
      <% if (sonyLijst && sonyLijst.length> 0) { %>
        <h2>Discover</h2>
        <ul>
          <% for (let i= sonyLijst.length - 1; i>= 0; i--) { %>
            <li>
              <% const film=sonyLijst[i]; %>
                <% if (film.backdrop_path) { %>
                  <h3>
                    <%= film.title %>
                  </h3>
                  <a href="/detail/<%= film.id %>">
                    <div id="disneyGardient"></div>
                    <img src="https://image.tmdb.org/t/p/w500<%= film.backdrop_path %>" alt="<%= film.title %>">
                    <p>
                      <%= film.overview.split(/[.;]/)[0] %>
                    </p>
                  </a>
                  <% } else { %>
                    <p>No poster available</p>
                    <% } %>
            </li>
            <% } %>
        </ul>
        <% } else { %>
          <p>Er zijn geen films beschikbaar op dit moment.</p>
        <% } %>

        <% if (sonyAnimation && sonyAnimation.length> 0) { %>
          <h2>Sony Animation</h2>
          <ul>
            <% sonyAnimation.forEach(film=> { %>
              <li>
                <% if (film.poster_path) { %>
                  <a href="/detail/<%= film.id %>"><img src="https://image.tmdb.org/t/p/w500<%= film.poster_path %>"
                      alt="<%= film.title %>"></a>
                <% } else { %>
                  <p>No poster available</p>
                <% } %>
              </li>
            <% }); %>
          </ul>
        <% } else { %>
          <p>Er zijn geen films beschikbaar op dit moment.</p>
        <% } %>

        <!-- Films vanaf 2005 -->
        <% if (sonyAction && sonyAction.length> 0) { %>
          <h2>Action</h2>
          <ul>
            <% sonyAction.forEach(film=> { %>
              <li>
                <% if (film.poster_path) { %>
                  <a href="/detail/<%= film.id %>"><img
                    src="https://image.tmdb.org/t/p/w500<%= film.poster_path %>"
                    alt="<%= film.title %>"></a>
                <% } else { %>
                  <p>No poster available</p>
                <% } %>
              </li>
            <% }); %>
          </ul>
          <% } else { %>
            <p>No films available from 2005 onwards.</p>
          <% } %>

          <% if (sonyHorror && sonyHorror.length> 0) { %>
            <h2>Romance</h2>
            <ul>
              <% sonyHorror.forEach(film=> { %>
                <li>
                  <% if (film.poster_path) { %>
                    <a href="/detail/<%= film.id %>"><img
                      src="https://image.tmdb.org/t/p/w500<%= film.poster_path %>"
                      alt="<%= film.title %>"></a>
                  <% } else { %>
                    <p>No poster available</p>
                  <% } %>
                </li>
              <% }); %>
            </ul>
            <% } else { %>
              <p>No films available from 2005 onwards.</p>
            <% } %>
    </main>
    <footer id="footerCompany">
      <nav>
        <ul>
          <li>
            <a href="/">🏠</a>
          </li>
          <li>
            <button type="button">🔍</button>
          </li>
          <li>
            <button type="button" id="sonyBtn">🔔</button>
          </li>
        </ul>
      </nav>
    </footer>    <div id="sonyBackground"></div>
    <script src="/js/sony.js"></script>
  </body>
</html>